.footer-style{
    display: flex;
    justify-content: space-around;
    background-color: rgb(2, 8, 95);
    color: white;
    margin-bottom: 20px;
};

.footer-style h2{
    font-weight: 700;
    margin-top: 10px;
}